@using Application.Models.TableEditor

@model TableEditorCellModel

<td>
    @if (Model.IsEditable)
    {
        switch (Model.ControlType)
        {
            case ControlType.Hidden:
                @Model.Value
                <input data-name="@Model.PropertyName" type="hidden" id="@Model.TagId" name="@Model.TagId" value="@Model.Value">
                break;
            case ControlType.Select:
                if (Model.SelectListItems != null && Model.SelectListItems.Count() > 0)
                {
                    <select data-name="@Model.PropertyName" id="@Model.TagId" name="@Model.TagId">
                        @foreach (SelectListItem item in Model.SelectListItems.Items)
                        {
                            if (item == Model.SelectListItems.SelectedValue)
                            {
                                <option selected="selected" value="@item.Value">@item.Text</option>
                            }
                            else
                            {
                                <option value="@item.Value">@item.Text</option>
                            }
                        }
                    </select>
                }
                break;
            default:
                <input type="text" data-name="@Model.PropertyName" id="@Model.TagId" name="@Model.TagId" value="@Model.Value" @Html.Raw(GetValidationAttributes(Model.ValidationAttributes)) />
                break;
        }
        if (Model.ControlType != ControlType.Hidden)
        {
            <span class="field-validation-valid" data-valmsg-for="@Model.TagId" data-valmsg-replace="true"></span>
        }
    }
    else
    {
        @Model.Value
        <input data-name="@Model.PropertyName" type="hidden" id="@Model.TagId" name="@Model.TagId" value="@Model.Value">
    }
</td>

@functions{
    public string GetValidationAttributes(IDictionary<string, string> ValidationAttributes)
    {
        var result = string.Empty;

        if (ValidationAttributes != null && ValidationAttributes.Count > 0)
        {
            result += $"data-val=\"true\" ";
            foreach (var pair in ValidationAttributes)
                result += $"data-val-{pair.Key}=\"{pair.Value}\" ";
        }

        return result;
    }
}