@using Application.Management.Models;
@*@using AgeOfClones.Areas.Management.Models*@

@model IEnumerable<ProfileManagementModel>

@*@model ManagementTableViewModel*@

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="CreateProfile" class="viewDialog" data-dialog-title="Создание модели">Добавить</a>
</p>

@*@{ Html.RenderPartial("TableEditor/_TableEditor", Model.Table); }*@

<table class="table">
    <thead>
        <tr>
            <th></th>
            <th>
                @Html.DisplayNameFor(model => model.Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.ActionLink("", "EditProfile", new { id = item.Id }, new { @class = "viewDialog glyphicon glyphicon-pencil", data_dialog_title = "Редактирование модели", title = "Изменить" })
                @Html.ActionLink("", "DeleteProfile", new { id = item.Id }, new { @class = "viewDialog glyphicon glyphicon-remove", data_dialog_title = "Удаление модели", title = "Удалить" })
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
        </tr>
        }
    </tbody>
</table>
