@model IEnumerable<Application.Models.AccountModel.ProfileModel>

@{ 
    var profileModel = Model.FirstOrDefault();
    var accountModel = profileModel.Accounts.FirstOrDefault();
    var currencies = new Dictionary<int, string>
    {
        { 1, "Rubles" },
        { 2, "Clonero" },
        { 3, "Gold" }
    };
}

<p>@ViewData["User"]</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => accountModel.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => accountModel.Currencies)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var profile in Model)
        {
            <tr>
                <td style="font-weight:bold;">@Html.DisplayFor(model => profile.Name)</td>
            </tr>
            @foreach (var item in profile.Accounts)
            {
            <tr>
                <td>
                    <a asp-action="Login" asp-controller="Authorization" asp-route-id="@item.Id">
                        @Html.DisplayFor(modelItem => item.Name)
                    </a>
                </td>
                <td>
                    <ul>
                        @foreach (var currency in currencies)
                        {
                            var curr = item.Currencies.FirstOrDefault(c => c.CurrencyId == currency.Key);
                        <li>
                            @if (curr != null)
                            {
                                <span>@curr.Currency.Name: @curr.Value</span>
                            }
                            else
                            {
                                <span>@currency.Value: 0</span>
                            }
                            <a asp-action="BuyCurrency" class="viewDialog" data-dialog-title="Buy" title="Buy" asp-route-currencyId="@currency.Key">Buy</a>
                        </li>
                        }
                    </ul>
                </td>
            </tr>
            }
        }

    </tbody>
</table>