@model IEnumerable<Application.Management.Models.ProfileManagementModel>

@{ 
    var profileModel = Model.FirstOrDefault();
    var accountModel = profileModel?.Accounts.FirstOrDefault();
}

<p>@ViewData["User"]</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => accountModel.Name)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var profile in Model)
        {
            <tr>
                <td style="font-weight:bold;">@Html.DisplayFor(model => profile.Name)</td>
            </tr>
            @foreach (var item in profile.Accounts)
            {
                <tr>
                    <td>
                        <a asp-action="Login" asp-controller="Authorization" asp-route-id="@item.Id">
                            @Html.DisplayFor(modelItem => item.Name)
                        </a>
                    </td>
                </tr>
            }

        }

    </tbody>
</table>